.dashboard {
  display: flex;
  flex-direction: column; /* 垂直排列内容 */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  height: calc(100vh - 50px); /* 减去 Header 和 Footer 的高度 */
  background-color: #f5f5f5;
  text-align: center;
}
.t1 {
  font-size: 3em; /* 标题字体大小 */
  color: red; /* 深蓝色文字 */
  margin-bottom: 20px; /* 与按钮的间距 */
}
